<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- BEGIN: StringPropertyReadingTests -->
    <add key="StringProperty" value="StringProperty test value" />
    <add key="ExistentOptionalProperty" value="ExistentOptionalProperty test value" />
    <add key="ExistentDefaultValueProperty" value="ExistentDefaultValueProperty test value" />
    <!-- END -->

    <!-- BEGIN: IntegerPropertyReadingTests -->
    <add key="IntegerProperty" value="4321" />
    <!-- END -->
  
    <!-- BEGIN: GuidPropertyReadingTests -->
    <add key="DigitsGuid" value="89e4745c11f147fdb7e0efe3dac5a8d6" />
    <add key="HyphensGuid" value="89e4745c-11f1-47fd-b7e0-efe3dac5a8d6" />
    <add key="BracesGuid" value="{89e4745c-11f1-47fd-b7e0-efe3dac5a8d6}" />
    <add key="ParenthesesGuid" value="(89e4745c-11f1-47fd-b7e0-efe3dac5a8d6)" />
    <add key="EmptyGuid" value="" />
    <add key="NullGuid" value="" />
    <add key="BrokenGuid" value="{89v4745c-11f1-47fd-b7e0-efe3dac5a8d6}" />
    <!-- END -->

    <!-- BEGIN: TimeSpanPropertyReadingTests -->
    <add key="HrMinSecTimeSpan" value="10:20:30" />
    <add key="DsHrMinSecTimeSpan" value="5:10:20:30" />
    
    <add key="HrTimeSpan" value="10hr" />
    <add key="MinTimeSpan" value="20min" />
    <add key="SecTimeSpan" value="30sec" />
    <add key="MsecTimeSpan" value="580" />
    
    <add key="BigHrTimeSpan" value="25hr" />
    <add key="BigMinTimeSpan" value="140min" />
    <add key="BigSecTimeSpan" value="625sec"/>
    <add key="BigMsecTimeSpan" value="3180"/>
    <!-- END -->
  </appSettings>
</configuration>